<div class="container">
    <div class="row">
        <div class="col-12 col-lg-4">
            <app-image image="imagen-you-banner.PNG"></app-image>
        </div>
        <div class="col-12 col-lg-8">
            <app-titulo class="d-block mt-5 mb-3" clase="h1 primary" texto="Bienvenido al mundo simple de las inversiones"></app-titulo>
            <app-texto class="mt-5 d-block" clase="primary" texto="Logra tus metas invirtiendo en YOU de una manera amigable y cercana"></app-texto>
            <app-button-you class="mt-5 d-block" titulo='Quiero ser YOU' clase="you-btn-primary-xl" link="###">
            </app-button-you>
        </div>
    </div>
</div>