<div class="d-none d-lg-block d-lg-block">
    <section class="banner">
        <app-banner-home></app-banner-home>
    </section>
    <section class="cuerpo">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <app-titulo texto="Una app pensada para ti" clase="secondary h4"></app-titulo>
                </div>
                <div class="col-lg-4">
                    <app-image image="W1.gif"></app-image>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="d-lg-none d-lg-none">
    hola soy mobile home
</div>