@font-face {
    font-family: 'Santander Headline Rg';
    src: url('../assets/fonts/SantanderHeadlineW05-Rg.woff'), url('../assets/fonts/SantanderHeadlineW05-Rg.woff2');
}

@font-face {
    font-family: 'Santander Headline Bold';
    src: url('../assets/fonts/SantanderHeadlineW05-Bold.woff'), url('../assets/fonts/SantanderHeadlineW05-Bold.woff2');
}

@font-face {
    font-family: 'SantanderMicroText';
    src: url('../assets/fonts/SantanderMicroText.otf'), url('../assets/fonts/SantanderMicroText.ttf');
}